<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CinemaSite</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/layout.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/fonts.css" asp-append-version="true" />
    @RenderSection("Styles", required: false);

    <!--glider.js-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.css" />

    <!--importowanie google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Alumni+Sans+SC:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&family=PT+Sans+Narrow:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">
</head>
<body>
    <header class="custom-navbar">
        <nav class="align-items-center navflex">
            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index"><img class="nav-logo" src="~/Content/logo-tp-cropped.svg" alt="Cinema Suwalki logo" /></a>
            <div id="navmenu">
                <a class="nav-link blacklink" asp-area="" asp-controller="Home" asp-action="Zgloszenia">ZGŁOSZENIA</a>
                <a class="nav-link blacklink" asp-area="" asp-controller="Home" asp-action="Repertuar">REPERTUAR</a>
                <a class="nav-link blacklink" asp-area="" asp-controller="Home" asp-action="Cennik">CENNIK</a>
                <a class="nav-link blacklink" href="#contact-here">KONTAKT</a>
                <a class="nav-link blacklink" asp-area="" asp-controller="Account" asp-action="Rejestracja">REJESTRACJA</a>
                <a class="nav-link blacklink" asp-area="" asp-controller="Account" asp-action="Logowanie">LOGOWANIE</a>
                <a class="nav-link whitelink" asp-area="" asp-controller="Home" asp-action="Konto">@(Context.Session.GetString("ActiveUserUsername") ?? "")</a>
            </div>
            <a href="#" id="hamburger-button">
                <img src="/Content/hamburger.svg" alt="Otwórz nawigację" />
            </a>
        </nav>
    </header>
    <div class="vertical-flex">
        <div id="dropdown-hamburger">
            <a href="#" id="hamburger-button2">
                <img src="/Content/close-arrow.svg" alt="Zamknij nawigację" />
            </a>
            <a class="nav-link blacklink" asp-area="" asp-controller="Home" asp-action="Zgloszenia">ZGŁOSZENIA</a>
            <a class="nav-link blacklink" asp-area="" asp-controller="Home" asp-action="Repertuar">REPERTUAR</a>
            <a class="nav-link blacklink" asp-area="" asp-controller="Home" asp-action="Cennik">CENNIK</a>
            <a class="nav-link blacklink" href="#contact-here">KONTAKT</a>
            <a class="nav-link blacklink" asp-area="" asp-controller="Account" asp-action="Rejestracja">REJESTRACJA</a>
            <a class="nav-link blacklink" asp-area="" asp-controller="Account" asp-action="Logowanie">LOGOWANIE</a>
            <a class="nav-link whitelink" asp-area="" asp-controller="Home" asp-action="Konto">@(Context.Session.GetString("ActiveUserUsername") ?? "")</a>
        </div>
        <div id="main-holder">
            <main role="main">
                @RenderBody()
            </main>
        </div>
        <footer class="contact vertical-flex">
            <h2>ZNAJDŹ NAS!</h2>
            <div class="footer-flex">
                <a class="footer-maplink" href="https://www.google.com/maps/place/Suwalki+Plaza/@@54.1075878,22.931452,17z/data=!3m2!4b1!5s0x46e10247e96bff15:0x25a2cc5aaa1241d6!4m6!3m5!1s0x46e10247b8b8d843:0xde427c6aeeb85715!8m2!3d54.1075847!4d22.9340269!16s%2Fg%2F121z_b5b?entry=ttu&g_ep=EgoyMDI1MTAyNy4wIKXMDSoASAFQAw%3D%3D" target="_blank"><img src="~/Content/map.png" alt="Mapa pokazująca Suwałki Plaza" /></a>
                <div id="contact-here" class="footer-contactlist">
                    <p>Suwałki Plaza<br />ul. Generała Józefa Dwernickiego 15<br />16-400 Suwałki</p>
                    <h3>KONTAKT</h3>
                    <ul>
                        <li>Telefon: <a href="tel:+48579071554">+48 579 071 554</a></li>
                        <li>Email: <a href="mailto:kontakt@cinemasuwalki.com">kontakt@@cinemasuwalki.com</a></li>
                    </ul>
                </div>
            </div>

            <div class="copy-container">
                &copy; 2025 - Cinema Suwałki - <a asp-area="" asp-controller="Home" asp-action="Privacy">Polityka prywatności</a>
                @if (Context.Session.GetInt32("ActiveUserAdmin") == 1)
                {
                    <a asp-area="" asp-controller="Admin" asp-action="RepertuarPanel">[Admin - Repertuar]</a>
                    <a asp-area="" asp-controller="Admin" asp-action="ZgloszeniePanel">[Admin - Zgłoszenia]</a>
                }
            </div>
        </footer>

        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/navbar-behaviour.js" asp-append-version="true" defer></script>
        <script src="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.js"></script>

        @await RenderSectionAsync("Scripts", required: false)
    </div>
</body>
</html>
