@using System.Globalization

@{
    ViewData["Title"] = "Repertuar";
    var currentDate = DateTime.Today;
    var translateToPolish = new CultureInfo("pl-PL");

    var screeningDictionary = Model.Screenings.GroupBy(s => s.movie_id).ToDictionary(g => g.Key, g => g.OrderBy(i => i.screening_time).ToList());

    var genreDictionary = Model.MovieGenreJoins.GroupBy(mg => mg.movie_id).ToDictionary(g => g.Key, g => g.Select(mg => mg.genre_id).ToList());

    var availableHalls = Model.Halls.Where(h => h.available).ToList();
}

@model CinemaSite.ViewModels.AdminViewModel

<div>
    <table id="movie-table">
        <thead>
            <tr>
                <th>Filmy</th>
                <th>Seanse</th>
            </tr>
        </thead>
        <tbody id="movies-list">
            @foreach (var movie in Model.Movies)
            {
                var genreIdList = genreDictionary.TryGetValue(movie.movie_id, out var genres) ? genres : new List<int>();
                var genreIdString = string.Join(",", genreIdList);
                var genreNameList = Model.Genres.Where(g => genreIdList.Contains(g.genre_id)).Select(g => g.genre_name);
                var genreNameString = string.Join(", ", genreNameList);

                if (genreIdList == null)
                {
                    genreIdString = "";
                }

                var posterImage = $"/Content/img{movie.poster_id}.jpg";

                <tr class="movie-row"
                    data-id="@movie.movie_id"
                    data-title="@movie.title"
                    data-forkids="@movie.for_kids"
                    data-poster="@posterImage"
                    data-summary="@movie.summary"
                    data-trailer="@movie.trailer_link"
                    data-genres="@genreIdString">
                    <td>
                        <div>
                            <div>
                                <p>@movie.title</p>
                                <img src="@posterImage" style="max-height: 100px;" alt="Plakat dla @movie.title" />
                                <p>@genreNameString</p>
                            </div>
                            <div class="control-box">
                                <button>Edit Screenings</button>
                                <button data-id="@movie.movie_id"
                                        data-title="@movie.title"
                                        class="delete-button">
                                    Delete
                                </button>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div id="modal-movie" hidden style="position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 999;
    background-color: rbga(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);">
    <!--THIS ^^^ WILL BE MOVED TO CSS LATER!-->
    <div id="modal-movie-info" style="background-color: gray;">
        
        <h2>Movie Details</h2>
        <form asp-controller="Admin" asp-action="EditMovieDB" method="post">
            @Html.AntiForgeryToken()

            <input asp-for="MovieEdit.movie_id" type="hidden" id="edit-id" />

            <div>
                <label>Tytuł</label>
                <input asp-for="MovieEdit.title" id="edit-title" />
            </div>
            <div>
                <label>Streszczenie</label>
                <input asp-for="MovieEdit.summary" id="edit-summary" />
            </div>
            <div>
                <label>Link do zwiastunu (youtube video code)</label> <!--add like a tooltip or something later-->
                <input asp-for="MovieEdit.trailer_link" id="edit-trailer" />
            </div>

            <div>
                <label>Film dla dzieci?</label>
                <input asp-for="MovieEdit.for_kids" id="edit-kids" type="checkbox" />
            </div>

            <button type="submit">Save Movie Details</button>
        </form>

        <h2>Screenings</h2>
        <form asp-controller="Admin" asp-action="EditScreeningDB" id="screening-form" method="post">
            @Html.AntiForgeryToken()
            <div id="screening-form-interior">
                <!--set in js-->
            </div>
            <button type="submit">Save Screening Details</button>
        </form>

        <button id="xbutton">X</button>

        <!--<p>USER VIEW:</p>
        <h1 id="modal-title"></h1>
        <img id="modal-poster" src="" style="max-height: 200px;" alt="" />
        <p id="modal-summary"></p>
        <iframe id="modal-trailer" width="420" height="315"
                src="">
        </iframe>-->


    </div>
</div>


<template id="screening-template">
    <div>
        <input name="movieId" type="hidden" />
        <input name="screeningId" type="hidden" />
        <input name="screeningTime" type="datetime" />
        <select name="hallId">
            @foreach (var h in availableHalls)
            {
                <option value="@h.hall_id">@h.hall_id  -  Seat Count: @((int)(h.rowcount * h.rowsize + 2))</option>
            }
        </select>

        <input name="isDubbing" type="hidden" />
        <input name="dubCheckbox" type="checkbox" />
    </div>
</template>

<div id="modal-delete" hidden style="position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 999;
    background-color: rbga(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);">
    <!--THIS ^^^ WILL BE MOVED TO CSS LATER!-->
    <div id="modal-delete-confirm" style="background-color: gray;">
        <form asp-controller="Admin" asp-action="DeleteMovie" method="post">
            @Html.AntiForgeryToken()
            <input type="hidden" name="id" id="movie-to-delete">
            <label id="confirmation-message"></label>
            <button type="submit">Confirm</button>
        </form>
    </div>
    <button id="xbutton-delete">Cancel</button>
</div>

<!--don't move to the js, it literally passes data there-->
<script type="application/json" id="screenings-to-json">
    @Html.Raw(System.Text.Json.JsonSerializer.Serialize( //https://stackoverflow.com/questions/17617263/razor-syntax-error-serializing-asp-net-model-to-json-with-html-raw
        Model.Screenings.Select(sc => new {
            screening_id = sc.screening_id,
            movie_id = sc.movie_id,
            screening_time = sc.screening_time.ToString("yyyy-MM-ddTHH:mm"), //input type=datetime requires this format
            hall_id = sc.hall_id,
            dubbing = sc.dubbing
        })
    ))
</script>

@section Scripts {
    <script src="~/js/modal-admin.js" asp-append-version="true" defer></script>
}