@using System.Globalization

@{
    ViewData["Title"] = "Zgloszenia";
    var currentDate = DateTime.Today;
    var translateToPolish = new CultureInfo("pl-PL");
}

@model CinemaSite.ViewModels.AdminViewModel

<div>
    <button id="new-movie-button">Dodaj nowy film</button>

    <table id="movie-table">
        <thead>
            <tr>
                <th>Artykuły</th>
            </tr>
        </thead>
        <tbody id="movies-list">
            @foreach (var article in Model.Articles)
            {
                var posterImage = $"/Content/img{article.image_id}.jpg";
                var postDate = article.post_date.ToString();

                <tr class="movie-row"
                    data-id="@article.article_id"
                    data-title="@article.title"
                    data-poster="@posterImage"
                    data-summary="@article.content"
                    data-genres="@postDate">
                    <td>
                        <div>
                            <div>
                                <p>@article.title</p>
                                <img src="@posterImage" style="max-height: 100px;" alt="Zdjęcie dla artykułu @article.title" />
                                <p>@postDate</p>
                            </div>
                            <div class="control-box">
                                <button data-id="@article.article_id"
                                        data-title="@article.title"
                                        class="delete-button">
                                    SKASUJ
                                </button>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


<div id="new-movie-modal" hidden style="position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 999;
    background-color: rbga(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);">
    <!--THIS ^^^ WILL BE MOVED TO CSS LATER!-->
    <div id="new-movie-modal-info" style="background-color: gray;">
        
        <h2>Article Details</h2>
        <form asp-controller="Admin" asp-action="AddArticleDB" method="post" enctype="multipart/form-data">
            @Html.AntiForgeryToken()

            <input asp-for="ArticleDTO.article_id" type="hidden" id="nm-id" />

            <div>
                <label>Tytuł</label>
                <input asp-for="ArticleDTO.title" id="nm-title" required />
            </div>
            <div>
                <label>Zdjęcie (plik musi mieć rozszerzenie .jpg)</label>
                <input asp-for="ArticleDTO.image" id="nm-title" type="file" accept="image/jpg" required />
            </div>
            <div>
                <label>Treść</label>
                <textarea asp-for="ArticleDTO.content" id="nm-summary" required></textarea>
            </div>
            <div>
                <label>Data/Czas Wydania</label> <!--add like a tooltip or something later-->
                <input asp-for="ArticleDTO.post_date" id="nm-trailer" type="date" required />
            </div>

            <button type="submit">Zapisz detale artykułu</button>
        </form>

        <button id="new-movie-xbutton">X</button>
    </div>
</div>

<div id="modal-movie" hidden style="position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 999;
    background-color: rbga(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);">
    <!--THIS ^^^ WILL BE MOVED TO CSS LATER!-->
    <div id="modal-movie-info" style="background-color: gray;">
        
        <h2>Movie Details</h2>
        <form asp-controller="Admin" asp-action="EditArticleDB" method="post">
            @Html.AntiForgeryToken()

            <input asp-for="ArticleDTO.article_id" type="hidden" id="edit-id" />

            <div>
                <label>Tytuł</label>
                <input asp-for="ArticleDTO.title" id="edit-title" />
            </div>
            <div>
                <label>Treść</label>
                <textarea asp-for="ArticleDTO.content" id="edit-summary"></textarea>
            </div>
            <div>
                <label>Data/Czas Wydania</label> <!--add like a tooltip or something later-->
                <input asp-for="ArticleDTO.post_date" id="edit-trailer" type="date" required />
            </div>

            <button type="submit">Zapisz detale artykułu</button>
        </form>

        <button id="xbutton">X</button>

    </div>
</div>

<div id="modal-delete" hidden style="position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 999;
    background-color: rbga(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);">
    <!--THIS ^^^ WILL BE MOVED TO CSS LATER!-->
    <div id="modal-delete-confirm" style="background-color: gray;">
        <form asp-controller="Admin" asp-action="DeleteArticle" method="post">
            @Html.AntiForgeryToken()
            <input type="hidden" name="id" id="movie-to-delete">
            <label id="confirmation-message"></label>
            <button type="submit">Zatwierdź</button>
        </form>
    </div>
    <button id="xbutton-delete">Anuluj</button>
</div>

@section Scripts {
    <script src="~/js/modal-admin-article.js" asp-append-version="true" defer></script>
}