@{
    ViewData["Title"] = "Home Page";
}

@model CinemaSite.ViewModels.DatabaseViewModel

@section Styles {
    <link rel="stylesheet" href="~/css/index.css" />
}

<div class="vertical-flex">
    <div class="splash">
        <h1 class="jaro-400">ODKRYJ<br />MAGIĘ <a asp-area="" asp-controller="Home" asp-action="Repertuar">FILMU</a></h1>
    </div>

    <div class="innerdiv vertical-flex">
        <h2>Najnowsze hity:</h2>
        <a asp-area="" asp-controller="Home" asp-action="Repertuar">
            <div class="auto-scroll">
                <div class="auto-scroll-items">
                    @if (Model != null)
                    {
                        @foreach (var item in Model.Movies)
                        {
                            var posterImage = $"/Content/img{item.poster_id}.jpg";

                            <article>
                                <img src="@posterImage" alt="Plakat dla @item.title" class="poster" />
                            </article>
                        }
                        @foreach (var item in Model.Movies)
                        {
                            var posterImage = $"/Content/img{item.poster_id}.jpg";

                            <article>
                                <img src="@posterImage" alt="Plakat dla @item.title" class="poster" />
                            </article>
                        } //doubled so the auto-scrolling doesn't bug out
                    }
                </div>
            </div>
        </a>
    </div>

    <div class="innerdiv vertical-flex">
        <h2>Najnowsze wydarzenia:</h2>
        <div class="glider-container">
            <div class="glider">
                @if (Model != null) {
                    @foreach (var item in Model.Articles)
                    {
                        var articleImage = $"/Content/img{item.image_id}.jpg";

                        <article class="announcement">
                            <h3>@item.title</h3>
                            <img src="@articleImage" alt="Zdjęcie dla artykułu o tytule: @item.title" class="poster" />
                            <div>
                                <p>@item.content</p>
                            </div>
                        </article>
                    }
                }
            </div>
            <button class="glider-prev glider-button">&lArr;</button>
            <button class="glider-next glider-button">&rArr;</button>
            <div role="tablist" id="dots"></div>
        </div>
        <!--<a asp-area="" class="whitelink alumni-sans-sc-500" asp-controller="Home" asp-action="Zgloszenia">Zobacz więcej</a>-->
    </div>
</div>

@section Scripts {
    <script src="~/js/glider-settings.js" asp-append-version="true" defer></script>
}