@{
    ViewData["Title"] = "Logowanie";
    var activeUserID = Context.Session.GetInt32("ActiveUserID");
}

@model List<UserTicket>

<div style="display:flex; flex-direction:column;">
    <p>@(Context.Session.GetString("ActiveUserUsername"))</p>
    <p>@(Context.Session.GetString("ActiveUserEmail"))</p>
    
    <p>Your Tickets:</p>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Film</th>
                <th>Data/Godzina</th>
                <th>Sala</th>
                <th>Siedzenie</th>
                <th>Rodzaj Biletu</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ticket_id</td>
                    <td>@item.title</td>
                    <td>@item.datetime</td>
                    <td>@item.hall_id</td>
                    <td>@item.rowNum@item.columnNum</td>
                    <td>@item.ticket_type</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script src="~/js/detail-validation.js" asp-append-version="true" defer></script>
}