@{
    ViewData["Title"] = "Logowanie";
    var activeUserID = Context.Session.GetInt32("ActiveUserID");
}

@model List<UserTicket>

@section Styles {
    <link rel="stylesheet" href="~/css/login.css" />
}

<div class="form-container">
    <div class="user-details">
        <p class="user-info">@(Context.Session.GetString("ActiveUserUsername"))</p>
        <p class="user-info">@(Context.Session.GetString("ActiveUserEmail"))</p>
    </div>
    
    <p class="user-tickets-title">Your Tickets:</p>
    <table class="user-ticket-table">
        <thead>
            <tr>
                <th>Film</th>
                <th>Data/Godzina</th>
                <th>Sala</th>
                <th>Siedzenie</th>
                <th>Rodzaj Biletu</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="user-ticket">
                    <td>@item.title</td>
                    <td>@item.datetime</td>
                    <td>@item.hall_id</td>
                    <td>@item.rowNum@item.columnNum</td>
                    <td>@item.ticket_type</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script src="~/js/detail-validation.js" asp-append-version="true" defer></script>
}