@using System.Globalization

@{
    ViewData["Title"] = "Repertuar";
    var currentDate = DateTime.Today;
    var translateToPolish = new CultureInfo("pl-PL");

    var screeningDictionary = Model.Screenings.GroupBy(s => s.movie_id).ToDictionary(g => g.Key, g => g.OrderBy(i => i.screening_time).ToList());

    var genreDictionary = Model.MovieGenreJoins.GroupBy(mg => mg.movie_id).ToDictionary(g => g.Key, g => g.Select(mg => mg.genre_id).ToList());
}

@model CinemaSite.ViewModels.DatabaseViewModel

<!--Screenings = upcomingScreenings,
    Movies = upcomingMovies,
    Genres = _context.Genre.ToList(),
    MovieGenreJoins = neededMovieGenreJoins-->

<div id="body">

    <label for="forKids">Filmy dla dzieci</label>
    <input id="kid-filter" name="forKids" type="checkbox" />
    <input id="title-search" name="titleSearch" type="text" placeholder="🔍︎Szukaj filmu..." autocomplete="off" />
    <select id="genre-filter">
        <option value="">Wszystkie</option>
        @foreach (var g in Model.Genres)
        {
            <option value="@g.genre_id">@g.genre_name</option>
        }
    </select>

    <table id="movie-table">
        <thead>
            <tr>
                <th>Filmy</th>
                <th>Seanse</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in Model.Movies)
            {
                var genreIdList = genreDictionary.TryGetValue(movie.movie_id, out var genres) ? genres : new List<int>();
                var genreIdString = string.Join(",", genreIdList);
                if (genreIdList == null)
                {
                    genreIdString = "";
                }

                var posterImage = $"/Content/img{movie.poster_id}.jpg";

                <tr class="movie-row" data-title="@movie.title" data-forkids="@movie.for_kids" data-genres="@genreIdString">
                    <td>
                        <div>
                            <div>
                                <p>@movie.title</p>
                                <img src="@posterImage" style="max-height: 200px;" alt="Plakat dla @movie.title" /> <!--TODO: link to movie info page-->
                            </div>
                            <div class="screening-box">
                                <button class="backward">←</button>
                                <button class="forward">→</button>
                                
                                @for (var i = 0; i < 14; i++)
                                {
                                    var today = currentDate.AddDays(i);

                                    var screeningsThatDay = Model.Screenings
                                    .Where(s => s.movie_id == movie.movie_id && s.screening_time.Date == today.Date).ToList();
                                    
                                    <div data-index="@i">
                                        <p>@today.ToString("ddd dd MMM")</p>
   
                                        @foreach (var subitem in screeningsThatDay)
                                        {
                                            <div>
                                                <p>@subitem.screening_time.ToString("HH:mm"))</p> <!--TODO: link to seat page-->
                                            </div>
                                        }
                                    </div>
                                }
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script src="~/js/repertuar-filter.js" asp-append-version="true" defer></script>
}