@using System.Globalization

@{
    ViewData["Title"] = "Repertuar";
    var currentDate = DateTime.Today;
    var translateToPolish = new CultureInfo("pl-PL");

    var screeningDictionary = Model.Screenings.GroupBy(s => s.movie_id).ToDictionary(g => g.Key, g => g.OrderBy(i => i.screening_time).ToList());

    var genreDictionary = Model.MovieGenreJoins.GroupBy(mg => mg.movie_id).ToDictionary(g => g.Key, g => g.Select(mg => mg.genre_id).ToList());
}

@model CinemaSite.ViewModels.DatabaseViewModel

@section Styles {
    <link rel="stylesheet" href="~/css/repertuar.css" />
}

<!--Screenings = upcomingScreenings,
    Movies = upcomingMovies,
    Genres = _context.Genre.ToList(),
    MovieGenreJoins = neededMovieGenreJoins-->

<div id="body">
    <div id="search-tools">
        <label class="checkbox-container horizontal-flex search-container" for="kid-filter">
            Filmy dla dzieci
            <input id="kid-filter" name="forKids" type="checkbox" />
            <span class="custom-checkbox"></span>
        </label>
        
        <input id="title-search" class="search-container" name="titleSearch" type="text" 
            placeholder="🔍︎Szukaj filmu..." autocomplete="off" />
        
        <select id="genre-filter" class="search-container">
            <option value="">Wszystkie</option>
            @foreach (var g in Model.Genres)
            {
                <option value="@g.genre_id">@g.genre_name</option>
            }
        </select>
    </div>


    <div id="movie-table">
        <div id="movies-list">
            @foreach (var movie in Model.Movies)
            {
                var genreIdList = genreDictionary.TryGetValue(movie.movie_id, out var genres) ? genres : new List<int>();
                var genreIdString = string.Join(",", genreIdList);
                if (genreIdList == null)
                {
                    genreIdString = "";
                }

                var posterImage = $"/Content/img{movie.poster_id}.jpg";

                <div class="movie-row innerdiv"
                    data-title="@movie.title"
                    data-forkids="@movie.for_kids"
                    data-poster="@posterImage"
                    data-summary="@movie.summary"
                    data-trailer="@movie.trailer_link"
                    data-genres="@genreIdString">
                   
                    <div>
                        <h2>@movie.title</h2>
                        <img src="@posterImage" alt="Plakat dla @movie.title" />
                    </div>
                    <div class="screening-box">
                        <button class="backward custom-button">Poprzednie seanse ←</button>
                        <button class="forward custom-button">→ Następne seanse</button>

                        <div class="screening-items">
                            @for (var i = 0; i < 14; i++) //all are created, visibility is just toggled in js
                            {
                                var today = currentDate.AddDays(i);

                                var screeningsThatDay = Model.Screenings
                                .Where(s => s.movie_id == movie.movie_id && s.screening_time.Date == today.Date).ToList();
                                    
                                <div data-index="@i">
                                    <p>@today.ToString("ddd dd MMM")</p>
   
                                    @foreach (var screening in screeningsThatDay)
                                    {
                                        <div class="screening-item">
                                            <a
                                                asp-action="Rezerwacja"
                                                asp-route-movieId="@movie.movie_id"
                                                asp-route-screeningId="@screening.screening_id">
                                                <p>@screening.screening_time.ToString("HH:mm")</p>
                                                @if (screening.dubbing)
                                                {
                                                    <p><i>dubbing</i></p>
                                                } else
                                                {
                                                    <p><i>napisy</i></p>
                                                }
                                            </a>
                                        </div>
                                    }
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


<div id="modal-movie" hidden>
    <div id="modal-movie-info" style="background-color: gray;">
        <button id="xbutton">X</button>
        <h1 id="modal-title"></h1>
        <img id="modal-poster" src="" style="max-height: 200px;" alt="" />
        <p id="modal-summary"></p>
        <iframe id="modal-trailer" width="420" height="315"
                src="">
        </iframe>
    </div>
</div>

@section Scripts {
    <script src="~/js/repertuar-filter.js" asp-append-version="true" defer></script>
    <script src="~/js/modal-movie.js" asp-append-version="true" defer></script>
}